* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}

h1 {
  color: #036801;
}

header {
  margin-bottom: 20px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  flex-direction: row;
}

footer {
  border-radius: 18px;
  text-align: center;
}

main {
  margin-bottom: 20px;
}

header,
main,
footer {
  background-color: white;
  padding: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.foto-profile {
  border-radius: 16px;
}

.nama-profile {
  font-size: 32px;
}

.link-repo {
  color: #036801;
  text-decoration: none;
  font-weight: bold;
}

.link-repo:hover,
.link-repo:focus-visible {
  text-decoration: underline;
}

@media (max-width: 800px) {
  body {
    padding: 12px;
  }
  header {
    flex-direction: column;
  }
  .nama-profile {
    font-size: 26px;
  }
}
